@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
    --primary: #ff79c6;
    --secondary: #bd93f9;
    --text: #ffffff;
    --background: #282a36;
    --background-accent: #44475a;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    background-color: var(--background);
    color: var(--text);
    margin:0px;
}

.btn {
    border-radius: 16px;
    text-decoration: none;
    padding: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: 0.2s ease;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-outline-primary {
    background-color: transparent;
    border: 2px var(--primary) solid;
    padding: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.btn-outline-primary:hover {
    background-color: var(--primary);
}

.btn-dark{
    background:var(--background)
}
a, a:visited {
    color: white;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    left:50%;
    right:50%;
    transform:posX(-50%)
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.wave{
    background-color:var(--primary);
    margin-top:-35px;
    width:100%;
}
.full-width{
    width:100%!important;
}
h2{
    font-size:38px;
}
h1{
    font-size:48px;
}
.tagline{
    margin-top:-25px;
}