:root{
    --primary: #ff79c6;
    --secondary: #bd93f9;
    --text: #ffffff;
    --background: #282a36;
    --background-accent:#44475a;
}
.btn{
    border-radius: 16px;
    text-decoration: none;
    padding:14px;
    padding-top:6px;
    padding-bottom:6px;
}
.btn-primary{
    background-color: var(--primary);
}